<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header>
        <div class="nav container">
            <a href="/" class="logo">
                Iv<span>an</span>
            </a>
            <div class="nav-right">
                <a href="/admin" class="admin-btn"><i class="bx bx-user"></i></a>
                <a href="/add" class="write-btn"><i class="bx bx-pencil"></i></a>
            </div>
        </div>
    </header>

    <div class="admin-panel">
        <h1>Admin Panel</h1>
        <a href="/add" class="add-post-link">Add New Post</a>
        <table id="post-table">
            <thead>

                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- admin post will show dynamically here -->
            </tbody>
        </table>
        <a href="/" class="admin-back-link">Back To Home</a>
    </div>

    <!-- Footer 
    <footer class="footer container">
        <p>&#169; IvanC_Dev</p>
        <div class="social">
            <a href="https://www.facebook.com/" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://x.com/" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="bx bxl-linkedin"></i></a>
        </div>
    </footer>-->


    <!-- js -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch("/posts")
            .then((response) => response.json())
            .then((posts) => {
                const postsTableBody = document.querySelector("#post-table tbody");
                postsTableBody.innerHTML = posts
                .map(
                    (post) => `
                    <tr>
                        <td>
                            ${
                            post.image
                            ? `<img src="${post.image}" alt="${post.title}">`
                            : "No Image"
                            }
                        </td>
                        <td>${post.title}</td>
                        <td>${post.category || "No Category"}</td>
                        <td>
                            <button class="delete-button" data-id="${post.id}">Delete</botton>
                        </td>
                    </tr>
                    `
                )
                .join(" ");
                // Delete post event listener
                document.querySelectorAll(".delete-button").forEach((button) => {
                    button.addEventListener("click", function() {
                        const postId = this.getAttribute("data-id")
                        fetch(`/delete/${postId}`, {
                            method: "POST",
                        })
                        .then((response) => {
                            if(!response.ok) {
                                throw new Error("Network response was not ok");
                            }
                            // Remove the row from table
                            this.closest("tr").remove();
                        })
                        .catch((error) => {
                            console.error(
                                "There was a problem with the fetch operation",
                                error
                            );
                        });
                    });
                });
            });
        });
    </script>
</body>
</html>