<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog NdJS</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="nav container">
            <a href="/" class="logo">
                Iv<span>an</span>
            </a>
            <div class="nav-right">
                <a href="/admin" class="admin-btn"><i class="bx bx-user"></i></a>
                <a href="/add" class="write-btn"><i class="bx bx-pencil"></i></a>
            </div>
        </div>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h2>The Ivan Blog</h2>
            <div class="search-box">
                <i class="bx bx-search"></i>
                <input type="search" name="" id="" placeholder="Search" />
            </div>
        </div>
    </section>

    <!-- Posts -->
    <section class="posts container" id="posts"></section>
     
    <!-- Footer -->
    <footer class="footer container">
        <p>&#169; IvanC_Dev</p>
        <div class="social">
            <a href="https://www.facebook.com/" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://x.com/" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="bx bxl-linkedin"></i></a>
        </div>
    </footer>

    <!-- Link To JS -->
     <script src="/js/main.js"></script>
</body>

</html>