<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog NdJS</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <div class="nav container">
            <a href="/" class="logo">
                Iv<span>an</span>
            </a>
            <div class="nav-right">
                <a href="/admin" class="admin-btn"><i class="bx bx-user"></i></a>
                <a href="/add" class="write-btn"><i class="bx bx-pencil"></i></a>
            </div>
        </div>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h2>The Ivan Blog</h2>
            <div class="search-box">
                <i class="bx bx-search"></i>
                <input type="search" name="" id="" placeholder="Search" />
            </div>
        </div>
    </section>
    <!-- posts filter -->
     <div class="post-filter container">
        <span class="filter-item active-filter" data-filter="all">All</span>
        <span class="filter-item" data-filter="Art">Art</span>
        <span class="filter-item" data-filter="Tecnology">Tecnology</span>
        <span class="filter-item" data-filter="Travel">Travel</span>
        <span class="filter-item" data-filter="Animal">Animal</span>
    </div>

    <!-- Posts -->
    <section class="posts container" id="posts"></section>
     
    <!-- Footer -->
    <footer class="footer container">
        <p>&#169; IvanC_Dev</p>
        <div class="social">
            <a href="https://www.facebook.com/" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://x.com/" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.linkedin.com/" target="_blank"><i class="bx bxl-linkedin"></i></a>
        </div>
    </footer>
    <script 
        src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"
    ></script>

    <!-- Link To JS -->
    <script src="/js/main.js"></script>
    
    <!-- filter js -->
    <script>
        $(document).ready(function() {
            $(".filter-item").click(function () {
                const value = $(this).attr("data-filter");
                if(value == "all") {
                    $(".post").show("1000");
                }else {
                    $(".post")
                        .not("." + value)
                        .hide("1000");
                    $(".post")
                        .filter("." + value)
                        .show("1000");
                }
            });
            // Active button
            $(".filter-item").click(function () {
                $(this)
                    .addClass("active-filter")
                    .siblings()
                    .removeClass("active-filter");
            });
        });
    </script>
</body>

</html>